<header class="bg-gray-300 h-20">
    <div class="text-center">
        <h1 class="text-5xl text-black">Tarea Angular 2.7 - Libros</h1>
    </div>
    <div class="text-right">
        <a href="/inicio" class="btn">Inicio</a>
        @if (!userLoginOn) {
            <a href="/nuevo-usuario" class="btn btn-blue">Registrate</a>
            <a href="/login" class="btn btn-blue">Iniciar sesión</a>
        }
        @else{
            <a (click)="logout()" class="btn btn-red">Cerrar sesión</a>
        }
    </div>
</header>
